div#additional-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 605px;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

div#additional-popup {
    position: fixed;
    top: 50px;
    right: 0px;
    width: 150px;
    height: 50px;
    z-index: 999;
    background-color: gainsboro;
    padding-top: 10px;
    padding-left: 10px;
}