div#filter-container {
    display: table;
  }

  div.filter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  div.filter span.text {
    margin-right: 10px;
  }

  div.filter .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 2px;
  }

  div.filter .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  div.filter .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  div.filter .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  div.filter input:checked + .slider {
    background-color: #2196F3;
  }

  div.filter input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  div.filter input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  div.filter .slider.round {
    border-radius: 17px;
  }

  div.filter .slider.round:before {
    border-radius: 50%;
  }