nav.navbar {
    position: fixed;
    width: 400px;
    height: 50px;
    z-index: 9;
}

nav.navbar > div > * {
    display: inline-block;
}

ul.nav {
    position: relative;
    left: 25px;
    bottom: 20px;
}

ul.nav > li {
    display: inline-block;
}