div#home-container {
    margin-top: 50px;
}

div#home-container .row {
    margin-top: 25px;
}

div.tiles-for-author,
div.tiles-for-tag {
    padding: 10px 0px;
    margin: 10px 0px;
}

div.tiles-for-author .profile img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}