div#home-container {
    margin-top: 50px;
}

div#home-container .row {
    margin-top: 25px;
}

div.tiles-for-author,
div.tiles-for-tag {
    padding: 10px 0px;
    margin: 10px 0px;
}

div.tiles-for-author .profile img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

div.tiles-more {
    margin: 60px 10px;
    width: 45px;
    font-size: 30px;
    color: white;
    background-color: rgb(235,235,235);
    text-align: center;
    border-radius: 20px;
}