div#suggest-popup {
    position: fixed;
    top: 50px;
    left: 103px;
    width: 199px;
    height: 160px;
    overflow-y: scroll;
    z-index: 999;
    border: 1px solid rgb(204,204,204);
    background-color: white;
}

div#suggest-background {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 400px;
    height: 600px;
    z-index: 99;
}